.toggle-button {
    display: flex;
    flex-direction: column;
    height: 24px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: black;
    font-size: 25px;
}

.toggle-button:focus {
    outline: none;
}