.footer {
    width: 100%;
    background: rgb(17, 89, 122); 
    height: auto;
    display: flex;
}

.footer_logo a {
    color: rgb(214, 190, 207);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    font-family: Verdana;
    font-weight: bold;
    font-size: 15px;
    padding-top: 25px;
    padding-left: 50px;
    padding-bottom: 10px;
    transition: all ease-in-out 0.2s;
}

.footer_navigation-items a{
    color: rgb(214, 190, 207);
    text-decoration: none;
    font-family: Verdana;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.footer_icons {
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 30px;
}

.footer_icons a {
    color: white;
    padding-right: 5px;
    transition: all ease-in-out 0.2s;
}

.footer_navigation {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
}

.footer_col {
    width: 50%;
}

.footer_newsletter-head{
    font-size: 23px;
    color: white;
    text-align: right;
    padding-top: 20px;
    padding-right: 50px;
}

.footer_newsletter-components {
    padding-right: 50px;
    text-align: right;
}

.footer_newsletter-components input {
    margin-top: 5px;
    margin-right: 5px;
    height: 20px;
    width: 150px;
}

.footer_newsletter-components button {
    background-color: pink;
    height: 25px;
    padding-right: 10px;
    padding-left: 10px;
    border: pink;
}

.footer_newsletter-components button:hover {
    opacity: 0.8;
    transition: all ease-in-out 0.3s;
}

.footer_author {
    text-align: right;
    padding-right: 50px;
    padding-top: 40px;
    color:  rgb(214, 190, 207);
}

@media (max-width: 600px) {
    .footer_newsletter-head{
        font-size: 20px;
        text-align: center;
    }
    .footer_newsletter-components {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer_newsletter-components button {
        width: fit-content;
        margin-top: 10px;
    }
    .footer_newsletter-components input {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .footer_logo a {
        font-size: 20px;
        transition: all ease-in-out 0.2s;
    }
    .footer_icons a {
        font-size: 20px;
        transition: all ease-in-out 0.2s;
    }
}