.welcome {
    background-color: rgb(175, 217, 228);
    line-height: 1.8;
    height: 300vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}

.team {
    background-color: rgb(175, 217, 228);
    height: auto;
}